* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Chewy", system-ui;
  background-color: #0b909f;
  color: #f7f7f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px 4px #0000007a;
  gap: 2rem;
}

h1 {
  font-size: 4rem;
}

.hidden {
  display: none;
}

.active {
  background-color: aquamarine;
}

#status {
  font-size: 2rem;
}

#scoreBoard {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-size: 2rem;
}

#round {
  font-size: 2.5rem;
}

button {
  font-family: "Chewy", system-ui;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  background-color: #f7f7f7;
  color: #0b909f;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 350ms ease;
  box-shadow: #0000007a 0px 10px 20px -10px;
}

button:hover {
  background-color: #dce5e6;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
