* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Chewy", system-ui;
  background-color: #0b909f;
  color: #f7f7f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 2rem;
  margin-top: 1rem;
}
